.info-section{
    margin: 90px auto 140px auto;
}

.info-element {
    padding: 40px !important;
    background-color: #121519 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-subtitle{
    font-size: 16px !important;
    font-weight: 500;
    color: #B9B9BA !important;
}