<div class="info-section container mx-auto">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
        <div class="col">
            <div class="bg-dark rounded-5 text-white p-4 info-element d-flex flex-column justify-content-center h-100">
                <h3 class="h4 card-title mt-0 pb-3 text-center">Instant Unit Conversion</h3>
                <p class="card-text info-subtitle text-center">
                    Quickly convert between various units, from length and weight to temperature and time. No waiting—get your results instantly, no sign-ups required.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="bg-dark rounded-5 text-white p-4 info-element d-flex flex-column justify-content-center h-100">
                <h3 class="h4 card-title mt-0 pb-3 text-center">Accessible Anywhere</h3>
                <p class="card-text info-subtitle text-center">
                    Whether you're on desktop or mobile, UnitForge works seamlessly on any device. Simply select your category and units to convert with ease.
                </p>
            </div>
        </div>
        <div class="col">
            <div class="bg-dark rounded-5 text-white p-4 info-element d-flex flex-column justify-content-center h-100">
                <h3 class="h4 card-title mt-0 pb-3 text-center">Accurate & Secure</h3>
                <p class="card-text info-subtitle text-center">
                    Trust our accurate conversion formulas to get precise results every time. Your data is handled securely with no storage of personal information.
                </p>
            </div>
        </div>
    </div>
</div>
