<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)"/>
        <FocusOnNavigate RouteData="routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <h1 class="mx-auto mt-5 p-5">404 Not Found</h1>
        <HeadContent>
            <meta name="robots" content="noindex" />
        </HeadContent>
    </NotFound>
</Router>